/* Dark scheme */

$main_dark: #191F3F;
$main_dark_hover: #C2CFFF;

/* Light scheme */

$main_light: #EDF2FB;
$main_light_text: #000827;
$main_light_hover: #2791DE;

/* Common colors */
$orange: #E95A2E;
$dark_blue: #000724;
$white: #FFF;

/* Icon colors */

$icon_1: #EC3901;
$icon_2: #FE450B;
$icon_3: #FF5E1A;
$icon_4: #FF6C1A;
$icon_5: #FF7A00;

/* Transition */

$transition_options: 0.3s ease;

/* Font sizes */
$font_size_small: 16px;
$font_size_regular: 18px;
$font_size_h2: 30px;
$font_size_h1: 34px;

$font_size_small_mobile: 14px;
$font_size_regular_mobile: 16px;
$font_size_h2_mobile: 26px;
$font_size_h1_mobile: 30px;